@model DBProject.Models.Zadania

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Zadania</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Czas_wykonania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Czas_wykonania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faktyczny_czas_wykonania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faktyczny_czas_wykonania)
        </dd>

        <dt>
            Produkowany produkt:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produkty.Nazwa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Powrót", "Index")
</p>
